mixin book(book)
    div.well.book
        div.row
            div.col-md-12
                h3.book-title= book.title            
                p= book.authors[0]
                p= book.publishedDate

mixin book-lend(book)
    div.well.book
        div.row
            div.col-md-8
                h3.book-title= book.title            
                p= book.authors[0]
                p= book.publishedDate
            div.col-md-4
                form(action='/lend/add', method='post')
                    input(type='hidden', name='isbn', value=book.industryIdentifiers[0].identifier)
                    button.btn.btn-lg.btn-primary(type='submit', name='lend') Lend
                    
mixin book-borrow(book)
    div.well.book
        div.row
            div.col-md-8
                h3.book-title= book.title            
                p= book.authors[0]
                p= book.publishedDate
            div.col-md-4
                form(action='/borrow/add', method='post')
                    input(type='hidden', name='bookId', value=book.book._id)
                    button.btn.btn-lg.btn-primary(type='submit', name='borrow') Borrow
                    
mixin book-unborrow(book)
    div.well.book
        div.row
            div.col-md-8
                h3.book-title= book.title            
                p= book.authors[0]
                p= book.publishedDate
            div.col-md-4
                form(action='/borrow/remove', method='post')
                    input(type='hidden', name='bookId', value=book.book._id)
                    button.btn.btn-lg.btn-primary(type='submit', name='unborrow') Unborrow
                
mixin book-list(books)
    each book in books
        +book(book)
        
mixin book-list-lend(books)
    each book in books
        +book-lend(book)
        
mixin book-list-borrow(books)
    each book in books
        +book-borrow(book)
        
mixin book-list-unborrow(books)
    each book in books
        +book-unborrow(book)